# Database config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=sense_note_db
DB_CONNECTION=Host=db;Port=5432;Database=sense_note_db;Username=postgres;Password=your_password

# JWT config
ISSUER=sense-note-api
AUDIENCE=dev-api
SIGNING_KEY=your_signing_key